{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="p-4">
    <h2 class="text-4xl">Private</h2>
    {{#if user}}
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">
            Welcome {{user}}
        </span>
    </div>
    {{/if}}
    {{#if errorMessage}}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">
            {{errorMessage}}
        </span>
    </div>
    {{/if}}
</div>